.streamer-wrap {
  overflow: hidden;
  display: inline-block;
  padding-bottom: 7px;
}
.streamer-wrap:after {
  animation: bannerStreamer 3s ease-in-out 1.5s infinite;
  content: "";
  width: 64px;
  height: 2px;
  background: linear-gradient(90deg, rgba(24, 144, 255, 0) 0, #1890ff);
  transform: translateX(-64px);
  position: absolute;
  left: 0;
  bottom: 0;
}


@keyframes bannerStreamer {
  0%, 25% {
    transform: translateX(-64px);
  }
  75%, 100% {
    transform: translateX(128px);
  }
}